h1{
    border:  solid black;
    border-width: 1px 3px 5px 7px; 
    /*top right bottom left */
    width: 500px;
    /* left & right */
    margin:50px;
    /* top & bottom */
    padding: 10px;
    /*0px-to&bottom 10px-left&right */
    box-sizing: border-box; 
    text-align: center;


}
p{
    border: 1px solid black;
    width: auto;
    margin: 100px;
    padding: 20px;
    height: 120px;
    overflow: scroll;
    box-shadow: 5px 5px rgb(253, 183, 8);
}
body{
    border: 1px solid red;
    height: 100vh;
}