table{
    /*border: 1px solid black;*/
    border-collapse: collapse;
    margin: auto;
    
}
td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size:32px;
}
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd)
{
    background-color: rgb(174, 173, 173);
}
table{
    box-shadow: 9px 9px 10px rgb(125, 101, 101);
    /* right bottom blur */
}