table,tr,td,th{
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-collapse: collapse;
    margin: auto;
    padding:auto;
    text-align: center;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd)
{
    background-color: rgb(174, 173, 173);
}
